<div class="background">
  <div class="part1presentation">
    <h1 class="titlepresentation">
      Présentation
    </h1>
    <h3 class="textpresentation">
      Issue de la communauté Javascript, MegaBlock Chain s'est ouvert au fil des ans et accueille les développeurs du monde entier
      ! Du Web à la Sécurité,notre comité de sélection trie et sélectionne 300 candidats sur 2000 candidatures.
    </h3>
    <button class="boutonpres">CHALLENGES</button>
  </div>
  <div class="part2presentation">
    <div class="triangle-up-left"></div>
    &nbsp;
  </div>
</div>