<div class="background">
    <h1>
    Présentation
  </h1>
  <h3>
      Issue de la communauté Javascript, MegaBlock Chain s'est ouvert au fil des ans et accueille les développeurs du monde entier ! 
      Du Web à la Sécurité,notre comité de sélection trie et sélectionne 300 candidats sur 2000 candidatures.
  </h3>
  <div class="allPhoto">
    <img class="photo1" src="http://3.bp.blogspot.com/-78JnO23hTR8/VGySo22BFkI/AAAAAAAAw5o/LlrGEj28b30/s1600/15589964260_1d15610756_z.jpg" alt="one">
    <img class="photo2" src="http://makaveli.mondoblog.org/files/2017/08/code.jpg" alt="two">
  </div>
</div>