<div class="background">
  <!--   <h1>
    Welcome traveller
  </h1> -->
  <h3>
    Formations développeur web, développeur concepteur d'applications, data analyst, product manager, prépa numérique en France
    et à l'étranger.
  </h3>
  <div class="allPhoto">
    <img class="photo1" src="https://i.pinimg.com/originals/a1/e1/87/a1e1875f49114f0fb7226fbad7bee595.jpg" alt="one">
    <img class="photo2" src="https://i.pinimg.com/originals/a1/e1/87/a1e1875f49114f0fb7226fbad7bee595.jpg" alt="two">
  </div>
</div>