<!-- debut de acceuil -->

<div class="containeracceuil">
  <header class="navbar" id="changecolor">
    <span class="navitemlogo">
      <img src="../../assets/logo.png" class="logo">
    </span>
    <span class="navitem">ACCUEIL</span>
    <span class="navitem">PRÉSENTATION</span>
    <span class="navitem">ÉQUIPES</span>
    <span class="navitem">TOURS</span>
  </header>
  <div class="timer">
    <span id="demo"></span>
    <span class="txttimer">Avant le début de l'évenement</span>
  </div>


</div>


<!-- fin de acceuil -->

<!-- Début présentation -->
<div class="containerpresent">
<app-presentation></app-presentation>
</div>
<!--Fin présentation-->

<!-- Début de équipes -->
<div class="containerequipes">
  <h1 class="titleequipes">ÉQUIPES</h1>
  <div class="containerpays">
    <div class="colonne1equipes">


      <div class="paysequipes" id="Congoequipes">
        <p class="txtequipes">CONGO</p>
        <button class="buttonequipes">
          <i class="fas fa-arrow-right"></i>
        </button>
      </div>

      <div class="paysequipes" id="Senegalequipes">
        <p class="txtequipes">SÉNÉGAL</p>
        <button class="buttonequipes">
          <i class="fas fa-arrow-right"></i>
        </button>
      </div>

      <div class="paysequipes" id="Franceequipes">
          <p class="txtequipes">FRANCE</p>
          <button class="buttonequipes">
            <i class="fas fa-arrow-right"></i>
          </button>
        </div>


    </div>


    <div class="colonne2equipes">


      <div class="paysequipes" id="Perouequipes">
        <p class="txtequipes">PÉROU</p>
        <button class="buttonequipes">
          <i class="fas fa-arrow-right"></i>
        </button>
      </div>

      <div class="paysequipes" id="Russieequipes">
          <p class="txtequipes">RUSSIE</p>
          <button class="buttonequipes">
            <i class="fas fa-arrow-right"></i>
          </button>
        </div>

        <div class="paysequipes" id="Algerieequipes">
            <p class="txtequipes">ALGÉRIE</p>
            <button class="buttonequipes">
              <i class="fas fa-arrow-right"></i>
            </button>
          </div>

    </div>


  </div>
</div>
<!--Fin de équipes-->