<!-- debut de acceuil -->

<div class="containeracceuil">
  <header class="navbar" id="changecolor">
    <span class="navitemlogo">
      <img src="../../assets/logo.png" class="logo">
    </span>
    <span class="navitem">ACCUEIL</span>
    <span class="navitem">PRÉSENTATION</span>
    <span class="navitem">ÉQUIPES</span>
    <span class="navitem">TOURS</span>
  </header>
  <div class="timer">
    <span id="demo"></span>
    <span class="txttimer">Avant le début de l'évenement Méga</span>
  </div>


</div>


<!-- fin de acceuil -->

<!-- Début présentation -->
<div class="containerpresent">
  <app-presentation></app-presentation>
</div>
<!--Fin présentation-->

<!-- Début de équipes -->
<div class="containerequipes">
  <h1 class="titleequipes">ÉQUIPES</h1>
  <div class="containerpays">
    <div class="colonne1equipes">

      <div class="paysequipes equipet" *ngFor="let cat of cats" [ngStyle]="{'background': '#fff url(' + cat.url + ') no-repeat 0 0'}">
        <p class="txtequipes" >{{ cat.pays }}</p>
        <button class="buttonequipes">
          <i class="fas fa-arrow-right"></i>
        </button>
      </div>


    </div>


    <div class="colonne2equipes">

    </div>


  </div>
</div>
<!--Fin de équipes-->


<!-- debut de tour1 -->

<div class="containertour1">

  <div class="nextchallenge" *ngIf="changedChallenge == false" (click)="nextchallengefn()">
    <div>
      <i class="fas fa-arrow-circle-right" style="font-size:60px"></i>
    </div>
    <p>prochain challenge</p>
  </div>

  <div class="previouschallenge" *ngIf="changedChallenge == true" (click)="previouschallengefn()">
    <div>
      <i class="fas fa-arrow-circle-left" style="font-size:60px"></i>
    </div>
    <p>précèdant challenge</p>
  </div>

  <h1 class="titletour1">TOUR 1</h1>
  <div class="contchallenge" id="challenge1">
    <h1 class="titlechallenge">CHALLENGE 1</h1>
    <span class="txtchallenge">Créer une calculatrice scientifique avec VueJS</span>
    <button class="boutonchallenge">LES PARTICIPANTS</button>
    <span class="txtchallenge">Toutes les équipes de tous les pays vont participer à ce challenge</span>
    <span class="txtchallenge2">Le challenge débutera le 23 juin à 13h, donnez nous
      <br>votre adresse mail si vous souhaitez être prévenu :</span>
    <form #userlogin="ngForm" (ngSubmit)="onClickSubmit(userlogin.value)">
      <input class="enteremail" type="text" name="emailid" placeholder="enter your email" [(ngModel)]="addTaskValue">
      <br/>
      <input type="submit" class="buttonvalidemail" value="CONFIRMER">
    </form>
  </div>

  <div class="contchallenge" id="challenge2">
    <h1 class="titlechallenge">CHALLENGE 2</h1>
    <span class="txtchallenge">Hacker le skyblog de Vladimir Poutine</span>
    <button class="boutonchallenge">LES PARTICIPANTS</button>
    <span class="txtchallenge">Les 6 premières équipes à s'être qualifiées au
      <br>challenge 1 participeront à ce challenge</span>
    <span class="txtchallenge2">Le challenge débutera le 24 juin à 13h, donnez nous
      <br>votre adresse mail si vous souhaitez être prévenu :</span>
    <form #userlogin="ngForm" (ngSubmit)="onClickSubmit(userlogin.value)">
      <input class="enteremail" type="text" name="emailid" placeholder="enter your email" [(ngModel)]="addTaskValue">
      <br/>
      <input type="submit" class="buttonvalidemail" value="CONFIRMER">
    </form>
  </div>
</div>

<!-- fin de tour1 -->
<!--section partenaires-->

<section class="sponsors">
  <h1 class="titlesponsors">NOS PARTENAIRES</h1>
  <div id="list_sponsors">
    <div class="sponsor1">
      <a href="https://wildcodeschool.fr/">
        <img src="../../assets/WCS.jpg" alt="Wild Code School">
      </a>
    </div>
    <div class="sponsor2">
      <a href="https://www.coccinelle.fr/">
        <img src="../../assets/coccinelle.png" alt="coccinelle">
      </a>
    </div>
    <div class="sponsor3">
      <a href="https://www.hepar.fr/?gclid=EAIaIQobChMI5I2a1aLq2gIVr7_tCh0M_QXNEAAYASAAEgLy5_D_BwE&gclsrc=aw.ds">
        <img src="../../assets/hepar.png" alt="hepar">
      </a>
    </div>
    <div class="sponsor4">
      <a href="http://fr.oreo.eu/">
        <img src="../../assets/oreo.png" alt="oreo">
      </a>
    </div>
  </div>
</section>

<!--section maps-->
<section class="maps">
  <h1 class="titlemaps">NOUS SITUER</h1>
  <div class="map-responsive">
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2645.1260858405676!2d1.00964101566079!3d48.47329507925156!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47e3c1f7f7d69b13%3A0x44cf293e5870383a!2sWild+Code+School+-+Formation+d%C3%A9veloppeur+web!5e0!3m2!1sfr!2sfr!4v1525378420372"
      width="800" height="600" frameborder="0" style="border:0" allowfullscreen></iframe>
  </div>
</section>

<!--footer-->
<footer>
  <img src="../../assets/logo.png" class="logofooter">

  <p class="copyright">Copyright ©2018 Wild Code School. Tous droits réservés. Mega Blockchain est une marque volée.</p>
</footer>